<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitLit Group 5</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <div class="main-placeholder-class-one">
        <header class="main-placeholder-class-two">
            <div class="header-div-placeholder">
                {{!-- I want specific attributes from the topic model here...  --}}
                {{{ body }}}
            </div>
            <nav>
                <button id="login-btn">login</button>
                <button id="signup-btn">Sign Up</button>
            </nav>
        </header>
        <main class="main-placeholder-class-three">
            <div class="body-div-one">
                {{!-- I want specific attributes from the topic and comment models here... --}}
                {{{ body }}}
            </div>
        </main>
    </div>
    
</body>
</html>

{{!-- Not sure if this page is the correct way to work these handlebars... --}}