<button id="signup-btn">Sign Up</button>
<button id="login-btn">Login</button>

<h2>What would you like to comment?</h2>
<main>
    <h3>Description</h3>
    <textarea name="Description" id="comment-content" cols="30" rows="4"></textarea>
    <button class="d-block my-1" id="createComment">Post Comment</button>
</main>