    <header>
        <h2>Please enter your username and password</h2>
    </header>
    <main>
        <p>Username:</p>
        <textarea name="username" id="username-textarea" cols="30" rows="1"></textarea>
        <p>Password:</p>
        <textarea name="password" id="password-textarea" cols="30" rows="1"></textarea>
        <button id="login">login</button>
        <button id="forgot">forgot password</button>

    </main>
    <footer>

    </footer>