<div class="d-flex flex-column col-6 w-100">
    <h2>Please enter your username and password</h2>
    <p>Email:</p>
    <input name="email" id="email-textarea"></input>
    <p>Password:</p>
    <input name="password" type="password" id="password-textarea"></input>
    <div class="mx-auto my-2">
        <button class="mx-1 btn btn-secondary" id="login">Login</button>
        <button class="mx-1 btn btn-secondary" id="forgot">Forgot password</button>
    </div>
</div>