<div class="d-flex flex-column col-6 w-100">
    <h2>Please enter your username and password</h2>
    <p>Email:</p>
    <textarea name="email" id="email-textarea" cols="30" rows="1"></textarea>
    <p>Password:</p>
    <textarea name="password" id="password-textarea" cols="30" rows="1"></textarea>
    <div class="mx-auto my-2">
        <button class="mx-1 btn btn-secondary" id="login">Login</button>
        <button class="mx-1 btn btn-secondary" id="forgot">Forgot password</button>
    </div>
</div>