<button id="signup-btn">Sign Up</button>
<button id="login-btn">Login</button>

<h2>What topic would you like to create?</h2>
<main>
    <h3>Title</h3>
    <textarea name="Title" id="title" cols="30" rows="1"></textarea>
    <h3>Description</h3>
    <textarea name="Description" id="content" cols="30" rows="4"></textarea>
    <button class="d-block my-1" id="createTopic">Create Topic</button>
</main>