<div class="d-flex flex-column col-6 w-100">
    <h2 class="mx-auto">What topic would you like to create?</h2>
    <h3>Title:</h3>
    <textarea name="Title" id="title" cols="30" rows="1"></textarea>
    <h3>Description:</h3>
    <textarea name="Description" id="content" cols="30" rows="4"></textarea>
    <button class="d-block my-2" id="createTopic">Create Topic</button>
</div>