<div class="d-flex flex-column">
    <h2>Username:</h2>
    <textarea name="username" id="name" cols="30" rows="1"></textarea>
    <h2>Password:</h2>
    <textarea name="password" id="password" cols="30" rows="1"></textarea>
    <h2>Email Address:</h2>
    <textarea name="email" id="email" cols="30" rows="1"></textarea>
    <button class="btn btn-secondary my-2" id="signup">Create Account</button>
</div>