 <header>
        <h2>Please Enter Your New User Information:</h2>
    </header>
    <main>
        <p>Username:</p>
        <textarea name="username" id="name" cols="30" rows="1"></textarea>
        <p>Password:</p>
        <textarea name="password" id="password" cols="30" rows="1"></textarea>
        <p>Email Address:</p>
        <textarea name="email" id="email" cols="30" rows="1"></textarea>
        <button id="signup">Create Account</button>

    </main>
    <footer>

    </footer>