<div class="d-flex flex-column">
    <h1 class="mx-auto my-2">Thank you for creating your account!</h1>
    <div class="mx-auto">
    <button class="btn btn-secondary col-5 mx-2" id="back">Back to Topics Page</button>
    <button class="btn btn-secondary col-5">Logout</button>
    </div>
</div>